<!--Footer-->
<svg style="margin-bottom: -106px;" class="responsive-curve" id="cuverDown" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
<footer id="footer" class="">
    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row pb-20">

            <!--First column-->
            <div class="col-md-6 col-xs-12">
                <a href="http://tmassuia.com"  target="_blank"><img class="mb-20" src="assets/tmassuia-logo-full.png"></a> 
                <hr>
                <h5 class="title">THANKS FOR YOUR TIME</h5>
                <p>I'm currently accepting new projects and would love to hear about yours.</p>
                <div>
                    <a class="ghost btn-alternative mb-10" href="#" data-toggle="modal" data-target="#contactmodal">Contact</a>
                    <a class="ghost" href="http://tmassuia.com" target="_blank">About Me</a></div> 
                
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 col-xs-12">
                <hr class="responsive-hr">
                <h5 class="subtitle">ABOUT THIS PROJECT</h5>
                <ul class="list-unstyled">
                        <li>
                                <h6> This project was maded with <a href="http://angular.io" alt="Angular 6" target="_blank" >
                                <img src="assets/angular.png"></a></h6>
                                <h6> As a BackEnd i use <a href="https://v2.wp-api.org" target="_blank" alt="Wordpress API Rest">
                                    <img src="assets/logo-wp.jpg"></a></h6>
                        </li>

                    <hr>

                    <li>
                        <h5 class="subtitle">if you like this project</h5>
                        <p>See it on GitHub and feel free to help-me improve it:</p>

        <div class="mb-10"><a class="github-button mb-10" href="https://github.com/tmassuia" aria-label="Follow @tmassuia on GitHub">Follow @tmassuia</a>     </div>
        <div class="github-div">
        
        <div class="mr-10">    <a class="github-button mr-10" style="margin-right: 10px" href="https://github.com/tmassuia/AngularPortfolio" data-icon="octicon-star" aria-label="Star tmassuia/AngularPortfolio on GitHub">Star</a>
        </div>
        <div>    <a class="github-button" href="https://github.com/tmassuia/AngularPortfolio/fork" data-icon="octicon-repo-forked" aria-label="Fork tmassuia/AngularPortfolio on GitHub">Fork</a>
        </div>
        </div>
    </li>
    </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
                Handmade by <a href="http://tmassuia.com"> Thiago Massuia </a>
        </div>
    </div>
</footer>
