<section id="projects" class="wrapper">
    <h1>Our projects</h1>
  <ul id="tech">
      <li class="tech tech-sf" data-group=".filter-tech-sf">Salesforce</li>
    <li class="tech tech-lightning" data-group=".filter-lightning">Lightning</li>
    <li class="tech tech-ror" data-group=".filter-tech-ror">Ruby on rails</li>
    <li class="tech tech-back" data-group=".filter-tech-back">Server side</li>
    <li class="tech tech-js" data-group=".filter-tech-js">Javascript</li>
    <li class="tech tech-ui" data-group=".filter-tech-ui">UI/UX</li>
    <li class="tech tech-apple" data-group=".filter-tech-apple">iOS / OS X</li>
    <li class="tech tech-android" data-group=".filter-tech-android">Android</li>
  </ul>
  <nav class="grid">
    <a href="anthos/index.html" class="tile tile-anthos white-text filter-tech-sf filter-lightning">Anthos</a>
    <a href="arkus/index.html" class="tile tile-arkus filter-tech-sf filter-tech-apple filter-lightning">Arkus</a>
    <a href="avid/index.html" class="tile tile-avid white-text filter-tech-sf filter-tech-js filter-lightning">Avid</a>
    <a href="benissimo/index.html" class="tile tile-benissimo white-text filter-tech-sf">Benissimo Cloud Integrations</a>
    <a href="chatter/index.html" class="tile tile-chatter filter-tech-sf filter-tech-ui filter-tech-apple filter-lightning">Chatter Desktop</a>
    <a href="360/index.html" class="tile tile-360 filter-tech-sf filter-tech-js filter-tech-ui filter-tech-apple">Community Cloud 360</a>
    <a href="customcloud/index.html" class="tile tile-customcloud filter-tech-sf">Custom Cloud Works</a>
    <a href="desk-component/index.html" class="tile tile-desk white-text filter-tech-sf filter-tech-back filter-tech-js">Desk.com Component</a>
    <a href="desk/index.html" class="tile tile-desk white-text filter-tech-sf filter-tech-ror">Desk.com Customization and Branding</a>
    <a href="discovery/index.html" class="tile tile-discovery white-text filter-tech-sf filter-tech-js">Discovery</a>
    <a href="firestone/index.html" class="tile tile-firestone white-text filter-tech-sf filter-tech-js filter-tech-ui">Firestone BP US</a>
    <a href="gbo/index.html" class="tile tile-gbo white-text filter-tech-sf filter-tech-apple">GBO Talent Journey</a>
    <a href="jobscience/index.html" class="tile tile-jobscience white-text filter-tech-sf">Job Science</a>
    <a href="components/index.html" class="tile tile-components filter-tech-sf filter-tech-ui filter-lightning">Lightning Components</a>
    <a href="marketing/index.html" class="tile tile-sf-mkt white-text filter-tech-apple filter-tech-android">Marketing Cloud</a>
    <a href="medzed/index.html" class="tile tile-medzed white-text filter-tech-sf filter-tech-js">MedZed</a>
    <a href="oktana-design/index.html" class="tile tile-okt filter-tech-ui">Design Projects</a>
    <a href="okty-sf-ios/index.html" class="tile tile-okt filter-tech-apple">OKTY-Salesforce-iOS</a>
    <a href="pacifica/index.html" class="tile tile-pacifica filter-tech-sf">Pacifica</a>
    <a href="community/index.html" class="tile tile-sf white-text filter-tech-sf">Partner Community & Success Community</a>
    <a href="pernodricard/index.html" class="tile tile-pernod filter-tech-sf">Pernod Ricard</a>
    <a href="planchat/index.html" class="tile tile-planchat white-text filter-tech-ror filter-tech-back filter-tech-js">PlanChat</a>
    <a href="radius/index.html" class="tile tile-radius white-text filter-tech-sf">Radius</a>
    <a href="advantage/index.html" class="tile tile-sf-adv white-text filter-tech-sf filter-tech-js">Salesforce Advantage</a>
    <a href="developers/index.html" class="tile tile-sf-dev white-text filter-tech-sf filter-tech-ror filter-tech-ui">Salesforce Developers</a>
    <a href="startups/index.html" class="tile tile-startups filter-tech-sf filter-tech-js filter-tech-ui">Salesforce for Startups</a>
    <a href="today/index.html" class="tile tile-sf white-text filter-tech-apple filter-tech-ui">Salesforce Today</a>
    <a href="schneider/index.html" class="tile tile-schneider white-text filter-tech-sf">Schneider</a>
    <a href="sellmore/index.html" class="tile tile-sf-cc white-text filter-tech-sf filter-tech-ui">Sell More Communities</a>
    <a href="tact/index.html" class="tile tile-tact filter-tech-sf filter-tech-back filter-tech-js filter-tech-ui filter-tech-apple filter-tech-android">Tact for Salesforce</a>
    <a href="timetracker/index.html" class="tile tile-timebook filter-tech-sf filter-tech-js filter-tech-ui">Time Tracker</a>
    <a href="trailhead/index.html" class="tile tile-trailhead white-text filter-tech-ror filter-tech-js filter-tech-ui">Trailhead 2.0</a>
    <a href="weightwatchers/index.html" class="tile tile-ww filter-tech-apple filter-tech-android">WeightWatchers</a>
  </nav>
</section>

