<div id="divloader">
    <div class="loader"></div>
  </div>

<div class="container">
  <div class="row" style="margin: 50px -10px;">
  <div class="col-md-6 col-xs-12">
  <h1 class="head-title">Who I'm ?!</h1>
  <p>
    I’m a User Experience Designer, born and raised in Brazil. I'm living on Florianópolis, after two years working in Montevideo.
</p>
<p>I'm passionate about User Experience and User Interface Design. Always focusing on user-centered design methodologies.</p>
    <p>
      I try to create efficient and innovative experiences that balance user needs and business goals.
  </p>
  <a class="ghost btn-main" [routerLink]="['../home']">Projects</a>
  <a class="ghost btn-secondary" href="http://tmassuia.com" target="_blank">tmassuia.com</a>

</div>
<div class="col-md-6 col-xs-12 text-center">
    <img src="../../assets/responsive-aboutprofile.jpg"/>
</div>
</div>
<div class="col-xs-12">
    <h2 class="">Highlighted Expeciences</h2>
  </div>

  <div class="row">
  
      <div class="col-md-4 col-xs-12">
          <div class="experience-box text-center ">
              <div class="">
                <img class="company-logo" src="https://amp.businessinsider.com/images/50db38a069bedd0d1000000c-320-246.jpg">
                <h1>Check-in</h1>
                <a class="subtitle" href="#" target="_blank">Check-in.com</a>
                <h3>UI/UX Designer + FrontEnd Developer</h3>
              <hr>
          <h6 class="text-center responsabilities">Major Responsabilities</h6>
          <p class="responsabilities-text">Creating new products focused on the hospitality sector. Working as an integral part of the development team responsable for validation
              of wireframes with studies and research with users passing through the approval of mockup until the development of the final code.</p>
          </div>
          </div>
          </div>

          <div class="col-md-4 col-xs-12">
              <div class="experience-box text-center ">
                  <div class="">
                    <img class="company-logo" src="https://amp.businessinsider.com/images/50db38a069bedd0d1000000c-320-246.jpg">
                    <h1>Check-in</h1>
                    <a class="subtitle" href="#" target="_blank">Check-in.com</a>
                    <h3>UI/UX Designer + FrontEnd Developer</h3>
                    <h6>Feb 2016 - Until Now</h6>

                  <hr>
              <h6 class="text-center responsabilities">Major Responsabilities</h6>
              <p class="responsabilities-text">Creating new products focused on the hospitality sector. Working as an integral part of the development team responsable for validation
                  of wireframes with studies and research with users passing through the approval of mockup until the development of the final code.</p>
              </div>
              </div>
              </div>

              <div class="col-md-4 col-xs-12">
                  <div class="experience-box text-center ">
                      <div class="">
                        <img class="company-logo" src="https://amp.businessinsider.com/images/50db38a069bedd0d1000000c-320-246.jpg">
                        <h1>Check-in</h1>
                        <a class="subtitle" href="#" target="_blank">Check-in.com</a>
                        <h3>UI/UX Designer + FrontEnd Developer</h3>
                      <hr>
                  <h6 class="text-center responsabilities">Major Responsabilities</h6>
                  <p class="responsabilities-text">Creating new products focused on the hospitality sector. Working as an integral part of the development team responsable for validation
                      of wireframes with studies and research with users passing through the approval of mockup until the development of the final code.</p>
                  </div>
                  </div>
                  </div>
</div>
</div>
