<div class="modal fade" id="contactmodal" role="dialog">
    <div class="modal-dialog">

        
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
                <div class="row">
                        <div class="">
                            <h3 class="thanks">Thanks for your time!</h3>
                        </div>
                        <!--/.col-sm-12-->
                        <div class="">
                            <p class="sub-text">I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
                        </div>
                        <!--/.col-sm-10.col-sm-offset-1-->
                    </div>
                <form>
                        <div class="form-group">
                          <input type="text" name="nameinput" class="form-control" id="name" required placeholder="Your Name">
                        </div>
                        <div class="form-group">
                                <input type="email" name="email" class="form-control" id="email" required placeholder="Email">
                              </div>
                        <div class="form-group">
                            <textarea required placeholder="Your Message" class="form-control" rows="5" id="comment"></textarea>
                        </div>                             
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
        </div>
       
      </div>
      
    </div>
  </div>
