<div class="modal fade" id="contactmodal" role="dialog">
    <div class="modal-dialog">

        
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
                <div class="text-center">
                            <h3 class="thanks">Thanks for your time!</h3>
                          
                            <p class="sub-text">I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
                    </div>
                <form name="contact-form" method="post" onsubmit="alert('Thanks', 'For contact me.', 'success', {buttons: false, timer: 9999})" action="https://formspree.io/thiago.massuia@hotmail.com"> 
                        <div class="form-group">
                          <input type="text" name="nameinput" class="form-control" id="name" required placeholder="Your Name">
                        </div>
                        <div class="form-group">
                                <input type="email" name="email" class="form-control" id="email" required placeholder="Email">
                              </div>
                        <div class="form-group">
                            <textarea name="Message" required placeholder="Your Message" class="form-control" rows="5" id="comment"></textarea>
                        </div>            
                        <div class="text-center">                 
                        <button type="submit">
                          <a style="color: #fff" class="ghost">Submit</a>
                        </button>
                      </div>
                      </form>
        </div>
       
      </div>
      
    </div>
  </div>
