<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a  [routerLink]="['./home']" href="#">
                        <img class="logo-img" src="assets/tmassuia-logo.png">
                    </a>
            </li>
            
            <li class="">
                    <a class="menu-toggle" routerLinkActive="active"  [routerLink]="['./about']" >About</a>
                  </li>
                  <li class="">
                    <a class="menu-toggle" routerLinkActive="active"  [routerLink]="['./home']" >Home</a>
                  </li>
          
                  <div class="mt-20 text-center">
                      <a style="color: #fff" class="ghost" data-toggle="modal" data-target="#contactmodal" >Contact</a>
                  </div>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
<div class="menu-toggle sidemenu-overlay"></div>

</div>
<!-- /#wrapper -->

