.material-icons {
	vertical-align: middle;
}

.mb-10 {
	margin-bottom: 10px!important;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.yellow {
	color: #ffc107;
}

.yellow:hover {
	opacity: 0.5;
	color: #ffc107;

}

.p20 {
	padding: 20px;
}
.responsive-nav {
	display: none;
}

.head-title {
	margin: 0 0 30px 0;
    line-height: 48px;
    font-weight: 600;
    font-size: 31px;
    color: #222;
    border-bottom: solid #311B92 4px;
    padding-bottom: 10px;
    width: fit-content;
    text-align: center;
    padding-top: 20px;
}


.show {
	display: block!important;
}


.responsive-hr {
	display: none;
}
.screenshots > a {
	margin-bottom: 20px;
}

.subtitle {
	opacity: 0.5;
    font-size: 12px;
	text-transform: uppercase;
}


.bg-primary {
    background-color: #673ab7!important;
}

.pb-20 {
	padding-bottom: 20px;
}

.btn-light {
	background-color: #fff!important;
	color: #673ab7!important;
	border-color: #673ab7!important;
}

.btn-light:hover {
	background-color: #673ab7!important;
	color: #ffc107!important;
}

.btn-alternative {
	background-color: #ffc107!important;
	color: #673ab7!important;
	border-color: #ffc107!important;
}

.btn-alternative:hover {
	background-color: #673ab7!important;
	color: #ffc107!important;
	border-color: #ffc107!important;
}

.btn-main {
	background-color: #673ab7!important;
	color: #ffc107!important;
	border-color: #673ab7!important;
}

.btn-main:hover {
	background-color: #fff!important;
	color: #673ab7!important;
	border-color: #673ab7!important;
}

.btn-secondary {
	background-color: #fff!important;
	color: #673ab7!important;
	border-color: #673ab7!important;
}

.btn-secondary:hover {
	background-color: #673ab7!important;
	color: #ffc107!important;
	border-color: #673ab7!important;
}


.hidden {
	display: none!important;
}

.divloader {

	position: fixed;
    z-index: 99999;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  

  #loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background: #673ab7;
    background: -webkit-linear-gradient(to top, #673ab7, #7E57C2);
    background: linear-gradient(to top, #673ab7, #7E57C2);
    z-index: 999999;
    text-align: center;
}

.loading-div {
           height: 100%;
    top: 40%!important;
    position: relative!important;
}


  .radar-spinner, .radar-spinner * {
      box-sizing: border-box;
    }

    .radar-spinner {
      height: 60px;
      width: 60px;
      position: relative;
      margin: auto;
      top: 46%;
    }

    .radar-spinner .circle {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      animation: radar-spinner-animation 2s infinite;
    }

    .radar-spinner .circle:nth-child(1) {
      padding: calc(60px * 5 * 2 * 0 / 110);
      animation-delay: 300ms;
    }

    .radar-spinner .circle:nth-child(2) {
      padding: calc(60px * 5 * 2 * 1 / 110);
      animation-delay: 300ms;
    }

    .radar-spinner .circle:nth-child(3) {
      padding: calc(60px * 5 * 2 * 2 / 110);
      animation-delay: 300ms;
    }

    .radar-spinner .circle:nth-child(4) {
      padding: calc(60px * 5 * 2 * 3 / 110);
      animation-delay: 0ms;
    }

    .radar-spinner .circle-inner, .radar-spinner .circle-inner-container {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: calc(60px * 5 / 110) solid transparent;
    }

    .radar-spinner .circle-inner {
      border-left-color: #FFC107;
      border-right-color: #FFC107;
    }

    @keyframes radar-spinner-animation {
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
	

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	margin: auto;
	margin-top: 30px;
}
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  

/* 
/*GENERAL STYLES*/
body, div, span, h1, h2, h3, h4, h5, h6, p, q, ul, ol, header, footer, nav, section, article, figure, aside {
	display: block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.hero-img {
	width: 100%;
    max-width: 340px;
}

.github-div {
	margin: auto;
    text-align: -webkit-match-parent;
    display: inline-flex;
}

.navbar{
	margin-bottom: -1px;
}

.mr-10 {
	margin-right: 10px!important;
}


.mr-20 {
	margin-right: 20px;
}

.gradient-bg {
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 65%, rgba(255,255,255,0.37) 100%);
	margin: -14px;
	padding-top: 20px;
    padding-bottom: 30px;
}

.tile-bg {
	margin-top: -10px;
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,253,253,0.10127801120448177) 65%, rgba(255,255,255,0.3169642857142857) 100%);
    padding-bottom: 1px;
	margin-bottom: -9px;
	padding: 10px 0;
}

.tile-bg:hover{
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,253,253,0.050127801120448177) 65%, rgba(255,255,255,0.1169642857142857) 100%);
}
.topbanner::after {
	background-color: #fff;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	z-index: 999;
	top: 0;
}
.pt-50 {
	padding-top: 50px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.tile-title {
	text-transform: capitalize;
    font-weight: 500;
    margin-top: 10px;
}

.flex-display {
	display: flex;
}

.text-center {
	text-align: center;
}

.mt-40 {
	margin-top: 40px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-10 {
	margin-bottom: 10px!important;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #414340;
	background: #fff;
	cursor: default;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -html-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
	margin-bottom: 40px;
	padding: 20px 0;
}

a {
	font-weight: 500;
	text-decoration: none;
	color: #6a3db8;
	cursor: pointer;
}
a:hover {color: #00a1df;}
p a:hover {background: #dcfaff;}

h1 {
	margin: 10 0 0px;
	font-weight: 500;
	font-size: 30px;
	line-height: 32px;
}

h2 {
	margin: 0 0 24px;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
}

h3 {
	margin: 0 0 16px;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

h2, p, ul, ol {
	margin: 0 0 24px;
	line-height: 24px;
}

ul, ol {padding: 0 0 0 10px;}
li {margin: 0 0 6px;}

.dark {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 5px 15px;
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	background: none;
	border: solid 1px #333;
	border-radius: 2px;
	transition: background ease-out .5s;
}
a:hover.dark {
	color: #000;
	background: rgba(255,255,255,.10);
}

a {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    /* transition: all 0.3s; */
}
.ghost {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 8px 20px;
	font-size: 14px;
	text-decoration: blink!important;
    text-transform: uppercase;
    color: #fff;
    background: none;
    border: solid 2px #fff;
	border-radius: 2px;

	font-weight: 600;
    border-radius: 20px;
}
a:hover.ghost {
	color: #fff;
	padding: 8px 30px;
	background: rgba(255,255,255,.25);
}

.ghost-dark {color: #414340; border: solid 1px #414340;}
a:hover.ghost-dark {color:#414340; background: rgba(65,67,64,.25);}

.ghost-gray {color: #414340; border: solid 1px #ccc;}
a:hover.ghost-gray {color: #414340; background: rgba(170,170,170,.25);}

.ghost-brown {color: #754c24; border: solid 1px #754c24;}
a:hover.ghost-brown {color:#754c24; background: rgba(117,76,36,.25);}

.ghost-blue {color: #001e4b; border: solid 1px #001e4b;}
a:hover.ghost-blue {color:#001e4b; background: rgba(0,30,75,.25);}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.col-2 {
	display: inline-block;
	width: 46%;
	padding: 0 2%;
}

.feat {display: inline; font-weight: bold;}

/* HEADER */
header {
	min-height: 60px;
	padding: 20px 0 0;
	text-align: right;
	color: #fff;
    background: #673ab7;
    background: -webkit-linear-gradient(to top, #673ab7, #7E57C2);
    background: linear-gradient(to top, #673ab7, #7E57C2);
	border-bottom: 1px solid #fff;
}

header a {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	overflow: hidden;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	border-radius: 2px;
}
header a:hover {
	color: #fff;
	background: rgba(255,255,255,.2);
}
header a:active {
	color: #fff;
	background: rgba(255,255,255,.4);
}

#logo {
	float: left;
	width: 170px;
	padding: 0;
}
a:hover#logo, a:active#logo {background: none;}

#logo img {
	margin-left: -10px;
	padding-top: 4px;
}

/* BANNER */
#banner {
	min-height: 360px;
	margin-bottom: -15px;
	padding: 15px 0 80px;
	font-size: 0;
	color: #fff;
	background-repeat: no-repeat;
	background-position: top center;
}

#hero {
	min-height: 360px;
	margin: 32px 0 0;
}

#hero img {
	width: 100%;
	max-width: 360px;
}

#client-logo {
	width: 150px;
	min-height: 100px;
	margin: 0 0 20px;
}

#client-logo img {height: 100%;}

#banner h1 {margin: 0 0 10px; font-weight: 700;}

#banner p {
	font-size: 14px;
	line-height: 30px;
	max-width: 500px;
	margin-bottom: 20px
}

/* PROJECTS */
#projects {font-size: 0;}

.tile {
    display: inline-block;

    min-width: 100%;

    margin: 10px 10px;
    padding: 10px 0 10px;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    vertical-align: top;
    overflow: hidden;
    color: rgba(255,255,255,1);
    background-color: #000;
    border: solid 1px transparent;
	
    border-radius: 20px;
    opacity: 0.9;
    -webkit-transition: opacity ease-out .4s;
    transition: opacity ease-out .4s;
    background-size: 108px 72px;
    background-position: center -4px;
}
a:hover.tile {
    /* opacity: .5; */
    text-decoration: none;
	border: solid 1px rgba(0,0,0,0.5);
	color: #fff;
	box-shadow: 2px 2px 7px #bbb;
	opacity: 1;
}
	
	
	
a:hover.white-text {color: rgba(255,255,255,.75);}

.tile-all {
	font-style: #ffffff;
	font-size: 20px;
	font-weight: 300;
	background-color: #27baef;
	/*background-image: url(../images/icons/all.png);
*/	background-position: top;
}


.tile-blue {background-color: #1869af;}
.tile-cyan {background-color: #1fbbee;}
.tile-yellow {background-color: #FFC107	;}
.tile-orange {background-color: #f26522;}
.tile-lightgreen {background-color: #8BC34A	;}
.tile-purple {background-color: #7B1FA2	;}
.tile-darkblue {background-color: #1A237E;}


.m-auto {
	margin: auto;
}

.line {
	width: 60%;
	opacity: 0.2;
}

#tech {
	max-width: 100%;
	margin: 0 auto 0px;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.tech {
	font-weight: 600;
    display: inline-block;
    margin: 0 2px 9px;
    padding: 9px 18px;
    font-size: 12px;
    font-weight: 400px;
    line-height: 29px;
    vertical-align: top;
    color: #000;
    border: solid 1px #CCC;
	border-radius: 30px;
	opacity: 0.5;
}

.actile-tech {
	border: solid 1px #6a3db8;
    opacity: 1;
}

.tech-pageflow {/*background-image: url(../images/tech/pageflow.png);*/}
.tech-prototype {/*background-image: url(../images/tech/prototype.png);*/}
.tech-research {/*background-image: url(../images/tech/research.png);*/}
.tech-specs {/*background-image: url(../images/tech/specs.png);*/}
.tech-ui {/*background-image: url(../images/tech/ui.png);*/}
.tech-wireframe {/*background-image: url(../images/tech/wireframe.png);*/}

#projects .tech {
	background-color: #fff;
	transition: all ease-out .3s;
	cursor: pointer;
}

#projects li:hover.tech {
	border: solid 1px #6a3db8;
	opacity: 1;
}

#projects .selected-tech {
	color: #6a3db8;
	background-color: #ddf6ff;
	border: solid 1px #6a3db8;
	opacity: 1;
}

#projects li:hover.tech-pageflow, #projects .tech-pageflow.selected-tech {
	/*background-image: url(../images/tech/active-pageflow.png);*/
}
#projects li:hover.tech-prototype, #projects .tech-prototype.selected-tech {
	/*background-image: url(../images/tech/active-prototype.png);*/
}
#projects li:hover.tech-research, #projects .tech-research.selected-tech {
	/*background-image: url(../images/tech/active-research.png);*/
}
#projects li:hover.tech-specs, #projects .tech-specs.selected-tech {
	/*background-image: url(../images/tech/active-specs.png);*/
}
#projects li:hover.tech-ui, #projects .tech-ui.selected-tech {
	/*background-image: url(../images/tech/active-ui.png);*/
}
#projects li:hover.tech-wireframe, #projects .tech-wireframe.selected-tech {
	/*background-image: url(../images/tech/active-wireframe.png);*/
}

/* METRICS */
#metrics {
	margin-bottom: 40px;
	padding: 0;
	list-style: none;
	text-align: center;
}

#metrics li {
	display: inline-block;
	width: 26%;
	min-width: 80px;
	padding: 90px 2% 0;
	font-size: 14px;
	font-weight: 200px;
	line-height: 14px;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: top center;
}

#metrics span {
	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
}


/* GALLERY */
.gallery {font-size: 0;}

.gallery figure {
	display: inline-block;
	width: 31%;
	padding: 0 2% 30px 0;
	text-align: center;
	vertical-align: middle;
}

.gallery img {
	width: auto;
    -webkit-box-shadow: 2px 2px 4px #ccc;
    max-width: 100%;
    box-shadow: 2px 2px 4px #ccc;
    max-height: 220px;
    margin-bottom: 20px;
}

.gallery img:hover {
	box-shadow: 2px 2px 10px #ccc;
	}

.gallery img.screen {
	border: 1px solid rgba(0,0,0,.15);
}

.gallery figcaption {
	display: none;
	text-align: center;
}

.pswp .pswp__caption__center{
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}

@media screen and (max-width: 991px) {
	
	.responsive-nav {
		display: block!important;
	}
	#banner {
		min-height: 360px;
		margin-bottom: 30px;
		padding: 15px 0 30px;
		font-size: 0;
		color: #fff;
		background-repeat: no-repeat;
		background-position: top center;
	}
	.responsive-curve {
		display: none;
	}
	#footer{
		padding-top: 40px!important;
	}
	
}

@media screen and (max-width: 767px) {
.tile {
	opacity: 1;
}
	#banner p {
		margin: auto;
		margin-bottom: 20px;
	}

	.responsive-hr {
		display: block;
	}


	.responsive-info {
		text-align: center;
	}
}

@media screen and (max-width: 640px) {

	
   header {min-height: 60px; padding: 15px 0 0;}
	#logo {
		width: 60px;
		height: 0;
		padding: 40px 0 0;
		overflow: hidden;
		/* background: url(../images/icons/logo.png) no-repeat center; */
	}
	#logo img {width: 0;}
	
	.col-2 {
		display: block;
		width: 90%;
		margin-bottom: 20px;
		padding: 0 5%;
	}
	#banner {padding: 10px;}
	#hero {min-height: 300px; text-align: center;}
	#client-logo {width: 120px; min-height: 60px; margin: 20px 0 0;}
	
}



@media screen and (max-width: 400px) {
	a:hover.ghost {
		padding: 8px 20px!important;
	}
	#logo {
		width: 60px;
		height: 0;
		padding: 40px 0 0;
		overflow: hidden;
		/* background: url(../images/icons/logo.png) no-repeat center; */
	}
	#logo img {width: 0;}
	
	.tile-360, .tile-desk, .tile-gbo, .tile-sf-adv, .tile-sf-cc, .tile-sf-dev, .tile-sf-mkt, .tile-startups {
	background-size: auto;
	/*background-image: url(../images/icons/salesforce-logo.png);*/
	}

	.tile-conektta {
	background-size: auto;
	/*background-image: url(../images/icons/conektta-logo.png);*/
	}

	.tile-all {
	/*background-image: url(../images/icons/all2.png);
*/
}
	
	.gallery figure {width: 48%;}
}