<section id="projects" class="container mb-10">
        <h2 class="text-center">My Projects</h2>
        <div class="wrapper mb-10">
                <ul id="tech">
                     <li class="tech tech-research">Research &amp; Study</li>
                      <li class="tech tech-wireframe">Wireframe</li>
                      <li class="tech tech-pageflow">Pageflow</li>
                      <li class="tech tech-ui">Pixel Perfect Mockup</li>
                      <li class="tech tech-Prototype">Prototype</li>
                    <li class="tech tech-specs">Specs &amp; Assets</li>            
                  </ul>
                </div>
                </section>
            
  <section class="col-md-12">
            
  <div class="flex">
      <div *ngFor="let post of posts" class="">

        <a [routerLink]="['/post', post.id]" class="tile {{ post.acf.tilecolor }}">
            <img src="{{ post.acf.clientlogo.sizes.large }}">
            <h3 class="tile-title">{{ post.title.rendered }}</h3>
        </a>

    </div>

  </div>
</section>

